<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>ChitChat</title>
</head>

<body>

<!-- This is where the JS will insert the data from the server -->

  <div class="prompt-container">
  </div>

  <div class="messageboard-container">
  </div>

  <div class="input-container">
  </div>


<!-- This is the template the JS talks to!!! -->
  <script type="text/template" class="message-reply-template">

    <ul>

      <li> class="username">
        <% user %>
      </li>

      <li> class="message">
        <% message %>
      </li>

      <li> class="time-stamp">
        <% time %>
      </li>

    </ul>
  </script>

  <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>

</body>

</html>
