.button {
width: 50px;
}

.input-container {
  margin: auto;
}

.messageboard-container {
  height: 400px;
  width: 600px;
  background-color: #447799;
  margin: auto;
  border-radius: 5px;
  color: white;
  list-style: none;
  li {
    border-top: white solid 1px;
    margin-top: 2px;
  }
}

input {
  width: 400px;
  height: 20px;
}
